git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
yt-dlp # Moved from Youtube dld to yt-dlp. visit 'https://github.com/yt-dlp' for Any other information.
py-tgcalls
python-dotenv
youtube-search-python
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
heroku3
gitpython
telegraph # for telegra.ph file module
apscheduler # for nightmode module
lyricsgenius # for lyrics
speedtest-cli # for speed test
